:root {
  --main-pink-color: rgb(248, 222, 226);
  --dark-pink-color: rgb(255, 115, 138);
  --main-puple-color: rgb(234, 206, 235);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--main-pink-color);
}

/* header */
.header {
  display: flex;
  align-items: center;

  height: 6rem;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
}

/** main **/
/* calendar section */

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;

  width: 21rem;
  height: 9rem;

  padding: 0.2rem 0.5rem;

  border-radius: 1rem;

  background-color: white;
  box-shadow: 0.125rem 0.188rem 0.313rem gray;
}

.calendar span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar time {
  font-weight: bold;
}

.calendar span > svg {
  width: 2.3rem;
  height: 2.3rem;
}

.calendar span > svg.today {
  fill: pink;
}

.calendar span > p {
  position: absolute;

  font-size: 0.8rem;
  font-weight: bold;

  color: white;
}

/* todolist section */
.todo__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 19rem;

  margin-top: 1.3rem;
}

.todo__category {
  margin: 0.5rem 0;
}

.todo__category h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.2rem;

  width: 6rem;
  height: 2.2rem;
  margin: 0.5rem 0;

  border-radius: 0.5rem;

  font-size: 1.3rem;
  font-weight: bold;

  text-shadow: 0.063rem 0.063rem 0.125rem rgb(61, 61, 61);
  color: white;
  box-shadow: 0.125rem 0.125rem 0.125rem gray;
}

.todo__category h2 > button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.1rem;
  height: 1.1rem;

  background-color: white;
  font-weight: bold;

  border-radius: 0.5rem;
  border: gray solid 0.1rem;

  cursor: pointer;
}

.todo__category li {
  display: flex;
  align-items: flex-start;

  width: 11rem;
  font-weight: bold;

  word-break: keep-all;

  margin: 1rem 0;
}

.todo__category svg {
  width: 1.3rem;
  height: 1.3rem;

  margin-right: 0.3rem;

  fill: white;

  cursor: pointer;
}

.todo__category svg.done {
  fill: var(--dark-pink-color);
}

#솝트 {
  background-color: #eeeecc;
}
#학교 {
  background-color: #bbddbb;
}
#스터디 {
  background-color: #ccddee;
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 4rem;

  background-color: var(--main-puple-color);
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6rem;
  height: 2.2rem;

  margin: 0 0.5rem;

  border: none;
  border-radius: 0.5rem;

  color: black;
  background-color: white;

  font-size: 1.2rem;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0.063rem 0.125rem 0.125rem gray;
}
