:root {
  --main-bg-color: #faf7ef;
  --main-orange-color: #fbda8f;
  --dark-orange-color: #f6ae3a;
  --lignt-gray-color: rgb(199, 199, 199);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4.5rem;

  padding: 0 2rem;

  background-color: var(--main-orange-color);
}

.header > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.header button {
  background: none;
  border: none;

  padding: 0;

  cursor: pointer;
}

/* menu bar */

.menu__container {
  cursor: pointer;
}

.menu__bar {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;

  width: 16rem;
  height: 100vh;

  padding: 2rem;
  background-color: white;
}

.menu__container:hover > .menu__bar {
  visibility: visible;
}

.menu__bar > h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.menu__bar a,
li {
  font-size: 1.5rem;
  margin-bottom: 1rem;

  color: black;
  text-decoration: none;
}

.menu__bar a:hover,
.menu__bar li:hover {
  color: var(--dark-orange-color);
}

/** main **/
.main {
  display: flex;
  margin: 2rem 1rem;
  gap: 2rem;
}

/* nav */
.nav {
  display: flex;
  flex-direction: column;

  min-width: 13rem;
  height: 17rem;

  padding: 1.2rem 1.5rem;

  border-radius: 1rem;

  background-color: var(--main-orange-color);
}

.nav h2 {
  font-size: 1.3rem;
  font-weight: bold;

  margin-bottom: 0.6rem;
}

.nav li {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.4rem;
  margin: 0.7rem 0;
  padding: 0 1rem;

  border-radius: 0.6rem;

  font-size: 1.2rem;
  font-weight: 500;

  background-color: #fff6e6;
  cursor: pointer;
}

.nav li.selected {
  font-weight: bold;

  background-color: var(--dark-orange-color);
  color: white;

  box-shadow: 0.125rem 0.188rem 0.313rem gray;
}

.nav li:hover {
  font-weight: bold;

  color: white;
  background-color: var(--dark-orange-color);
}

/* product section */
.selected__category {
  display: flex;

  margin-bottom: 1rem;
}

.selected__category > li.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 5.5rem;
  height: 2.5rem;

  font-size: 1.2rem;

  margin-right: 1rem;
  padding: 0 0.5rem;

  border: 0.1rem solid gray;
  border-radius: 0.2rem;

  background-color: white;
}

.selected__category > li {
  display: none;
}

.selected__category > li > button {
  border: none;
  border-radius: 0.1rem;

  font-weight: bold;

  background-color: var(--lignt-gray-color);
  color: white;

  cursor: pointer;
}

/* card section */
.card__section {
  display: flex;
  flex-wrap: wrap;

  column-gap: 0.7rem;
  row-gap: 2rem;

  width: 100%;
}

.card__section .selected_all,
.card__section .selected_snack,
.card__section .selected_drink,
.card__section .selected_ramyun {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 15rem;
  height: 18rem;

  padding: 1rem;
  border-radius: 0.7rem;

  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.3rem var(--lignt-gray-color);
}

.card__section article {
  display: none;
}

@media (max-width: 80rem) {
  .card__section article {
    width: 17rem;
    padding: 1.2rem;
  }
}

@media (max-width: 70rem) {
  .card__section article {
    width: 21rem;
    height: 20rem;
    padding: 2rem;
  }
}

@media (max-width: 60rem) {
  .card__section {
    justify-content: center;
  }
  .card__section article {
    width: 25rem;
    height: 20rem;
    padding: 2rem;
  }
}

.card__section header {
  font-size: 1.2rem;
  font-weight: bold;
}

.card__section div.tagContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.3rem;

  width: 100%;
  height: 2rem;

  margin: 1rem 0;
}

.card__section div.tagContainer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3rem;

  width: 10rem;
  height: 1rem;

  overflow: hidden;
}

.card__section div.tagContainer li {
  font-size: 1rem;
}

.card__section li:before {
  content: "#";
}

.card__section button.showMore {
  font-size: 1rem;
  font-weight: bold;

  border: none;
  border-radius: 0.5rem;

  color: rgb(71, 71, 71);
  background-color: var(--lignt-gray-color);

  cursor: pointer;
}

.card__section button.showMore:hover {
  color: white;
  background-color: black;
}

.card__section div.tagModal {
  position: absolute;
  z-index: 1;
  top: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;

  padding: 1.5rem 1rem;

  border-radius: 1rem;

  background-color: pink;
}

.card__section div.tagModal ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 0.4rem;
}

.card__section div.tagModal li {
  font-size: 1rem;
}

.card__section div.tagModal button.close {
  font-size: 1rem;
  font-weight: bold;

  border: none;
  border-radius: 0.2rem;

  color: rgb(71, 71, 71);
  background-color: white;

  cursor: pointer;
}

.card__section div.tagModal button.close:hover {
  color: white;
  background-color: black;
}

.hidden {
  visibility: hidden;
}

.card__section article > img {
  width: 9rem;
  height: 9rem;
}

.card__section article button.heartButton {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-top: auto;

  background: none;
  border: none;

  cursor: pointer;
}

.card__section svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: gray;
}

.card__section svg:hover {
  fill: pink;
}
